<!-- Simple full-width example-->
<div class="row">
  <div class="jumbotron">
    <h1><%= @list.title.titleize %></h1>
    <p><%= @list.description %></p>
    <p>
<!--       <a href="/items/new?list_id=<%= @list.id %>" class="btn btn-success btn-lg">Add a new item to this list</a> -->
    <% if current_user.id == @list.user.id %>
      <%= link_to("Add a new item to this list","/items/new?list_id=#{@list.id}&from=list",{ :class => "btn btn-success btn-lg"}) %>
    <% end %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <td class="col-md-3 col-sm-6 col-xs-6">
            Total <%= @list.items.count %> items for this list.
          </td>
          <td class="col-md-7 col-sm-4 col-xs-5"></td>
          <td class="col-md-2 col-sm-1 col-xs-1">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Sort by:
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Name</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Update_time</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Liking</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </thead>

      <tbody>
        <% @list.items.each do |item| %>
          <tr>
            <td>
              <a href="<%= item.pic %>" class="thumbnail">
                <%= image_tag(item.pic) %>
              </a>
            </td>
            <td>
              <h4>
                <%= item.title %>
              </h3>
              <p>
                <% for i in 1..item.rating %>
                  <i class="fa fa-star text-danger"></i>
                <% end %>
              </p>
              <p class="hidden-xs">
                <%= item.description %>
              </p>
              <p class="hidden-xs"><a target="_blank" href = "http://<%=  item.store_link%>"><%=  truncate(item.store_link, length: 50)%></a></p>
              <p>
                <p class="visible-xs"><a href = "http://<%=  item.store_link%>">Store Link</a></p>
                <p>
                  <% if item.status == 0 %>
                    No one has claimed it
                  <% else %>
                    Other people have claimed <%= number_to_percentage(item.status*100, precision: 0) %>
                  <% end %>
                </p>

            </td>
            <% if current_user.id == @list.user_id %>
              <td>
                <p>
                  <a href="/items/<%= item.id %>" class="btn btn-primary btn-block">
                    <i class="fa fa-search-plus fa-lg"></i> View
                  </a>
                </p>
                <p>
                  <a href="/items/<%= item.id %>/edit" class="btn btn-warning btn-block">
                    <i class="fa fa-edit fa-lg"></i> Edit
                  </a>
                </p>
                <p>
                  <a href="/delete_item/<%= item.id %>" class="btn btn-danger btn-block">
                    <i class="fa fa-trash-o fa-lg"></i> Delete
                  </a>
                </p>
              </td>
            <% else %>
              <td class="hidden-xs col-md-2 col-sm-2">
                <%= link_to('<i class="fa fa-search-plus fa-2x">&nbsp; View</i>'.html_safe,"/items/#{item.id}", method: "get", class: "btn btn-primary btn-block") %>
                <% if item.status ==1 %>
                  <%= link_to('<i class="fa fa-gift fa-2x">&nbsp; Make An Offer</i>'.html_safe,"/offers/new?item_id=#{item.id}", method: "get", class: "btn btn-success disabled") %>
                <% else %>
                  <%= link_to('<i class="fa fa-gift fa-2x">&nbsp; Make An Offer</i>'.html_safe,"/offers/new?item_id=#{item.id}", method: "get", class: "btn btn-success") %>
                <% end %>
              </td>
              <td class="visible-xs col-xs-1">
                <%= link_to('<i class="fa fa-search-plus fa-2x"></i>'.html_safe,"/items/#{item.id}", method: "get", class: "btn btn-primary btn-block") %>
                <% if item.status ==1 %>
                <%= link_to('<i class="fa fa-gift fa-2x"></i>'.html_safe,"/offers/new?item_id=#{item.id}", method: "get", class: "btn btn-success btn-block disabled") %>
                <% else %>
                <%= link_to('<i class="fa fa-gift fa-2x"></i>'.html_safe,"/offers/new?item_id=#{item.id}", method: "get", class: "btn btn-success btn-block") %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


