<!-- Simple full-width example-->
<div class="row">
  <div class="jumbotron">
    <h1><%= @list.title.titleize %></h1>
    <p><%= @list.description %></p>
    <p>
<!--       <a href="/items/new?list_id=<%= @list.id %>" class="btn btn-success btn-lg">Add a new item to this list</a> -->
      <%= link_to("Add a new item to this list","/items/new?list_id=#{@list.id}",{ :class => "btn btn-success btn-lg"}) %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <td>
            Total <%= @list.items.count %> items for this list.
          </td>
          <td>
            Sort by
          </td>
        </tr>
      </thead>

      <tbody>
        <% @list.items.each do |item| %>
          <tr>
            <td class="col-md-3 col-sm-5 col-xs-6">
              <a href="#" class="thumbnail">
              <img src="<%= item.pic %>" class="img-responsive{width:100%;}" alt="...">
              </a>
            </td>
            <td class="col-md-7 col-sm-6 col-xs-5">
              <h4>
                <%= item.title %>
              </h3>
              <p>
                <% for i in 1..item.rating %>
                  <i class="fa fa-star text-danger"></i>
                <% end %>
              </p>
              <p>
                <%= item.description %>
              </p>
              <p class="hidden-xs"><a href = "http://<%=  item.store_link%>"><%=  item.store_link%></a></p>
              <p>
                <p class="visible-xs"><a href = "http://<%=  item.store_link%>">Store Link</a></p>
                <p>
                  <%= item.status %>
                </p>

              </td>
            <td class="col-md-2 col-sm-1 col-xs-1">
              <p>
                <a href="/items/<%= item.id %>" class="btn btn-primary btn-block">
                  <i class="fa fa-search-plus fa-lg"></i>View
                </a>
              </p>
              <p>
                <a href="/items/<%= item.id %>/edit" class="btn btn-warning btn-block">
                  <i class="fa fa-edit fa-lg"></i>Edit
                </a>
              </p>
              <p>
                <a href="/delete_item/<%= item.id %>" class="btn btn-danger btn-block">
                  <i class="fa fa-trash-o fa-lg"></i> Delete
                </a>
              </p>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


