<!-- Validation failure messages -->

<% if @offer.errors.any? %>
  <% @offer.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>


<!-- Simple full-width example -->

<div class="page-header">
  <h1>Edit Offer #<%= @offer.id %></h1>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_offer/<%= @offer.id %>" class="form-horizontal">
      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="col-sm-2 control-label">
          User
        </label>
        <div class="col-sm-10">
          <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @offer.user_id %>">
        </div>
      </div>

      <!-- Label and input for item_id -->
      <div class="form-group">
        <label for="item_id" class="col-sm-2 control-label">
          Item
        </label>
        <div class="col-sm-10">
          <input type="text" id="item_id" name="item_id" placeholder="Item" class="form-control" value="<%= @offer.item_id %>">
        </div>
      </div>

      <!-- Label and input for proportion -->
      <div class="form-group">
        <label for="proportion" class="col-sm-2 control-label">
          Proportion
        </label>
        <div class="col-sm-10">
          <input type="text" id="proportion" name="proportion" placeholder="Proportion" class="form-control" value="<%= @offer.proportion %>">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <input type="submit" value="Update Offer" class="btn btn-warning">
          or
          <a href="/offers/<%= @offer.id %>">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- End simple full-width example-->

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Offer #<%= @offer.id %></h3>
      </div>
      <div class="panel-body">
        <form action="/update_offer/<%= @offer.id %>" class="form-horizontal">
          <!-- Label and input for user_id -->
          <div class="form-group">
            <label for="user_id" class="col-sm-2 control-label">
              User
            </label>
            <div class="col-sm-10">
              <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @offer.user_id %>">
            </div>
          </div>

          <!-- Label and input for item_id -->
          <div class="form-group">
            <label for="item_id" class="col-sm-2 control-label">
              Item
            </label>
            <div class="col-sm-10">
              <input type="text" id="item_id" name="item_id" placeholder="Item" class="form-control" value="<%= @offer.item_id %>">
            </div>
          </div>

          <!-- Label and input for proportion -->
          <div class="form-group">
            <label for="proportion" class="col-sm-2 control-label">
              Proportion
            </label>
            <div class="col-sm-10">
              <input type="text" id="proportion" name="proportion" placeholder="Proportion" class="form-control" value="<%= @offer.proportion %>">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <input type="submit" value="Update Offer" class="btn btn-warning">
              or
              <a href="/offers/<%= @offer.id %>">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
