<div class="page-header">
  <h1>
    Offers
    <a href="/offers/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
  </h1>
</div>

<!-- Simple table layout example -->

<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>User</th>
          <th>Item</th>
          <th>Proportion</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @offers.each do |offer| %>
          <tr>
            <td><%= offer.user_id %></td>
            <td><%= offer.item_id %></td>
            <td><%= offer.proportion %></td>
            <td>
              <a href="/offers/<%= offer.id %>" class="btn btn-primary">
                <i class="fa fa-search-plus"></i>
              </a>
            </td>
            <td>
              <a href="/offers/<%= offer.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
            </td>
            <td>
              <a href="/delete_offer/<%= offer.id %>" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- End simple table layout example -->

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Offers (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @offers.each do |offer| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Offer #<%= offer.id %></h3>
      </div>
      <div class="panel-body">
        <dl>
          <dt>User</dt>
          <dd><%= offer.user_id %></dd>

          <dt>Item</dt>
          <dd><%= offer.item_id %></dd>

          <dt>Proportion</dt>
          <dd><%= offer.proportion %></dd>

        </dl>
        <div class="btn-group btn-group-justified">
          <a href="/offers/<%= offer.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>

          <a href="/offers/<%= offer.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_offer/<%= offer.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container').isotope({
      itemSelector: '.isotope-item',
      layoutMode: 'masonry',
      filter: function() {
        return qsRegex ? $(this).text().match( qsRegex ) : true;
      }
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
