<div class="page-header">
  <h1>
    Items
    <a href="/items/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i>&nbsp; <%= "Add a new item".titleize %></a>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Items (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @items.each do |item| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= item.title.titleize %></h3>
      </div>
      <div class="panel-body">
        <dl>
          <a href="<%= item.pic %>" class="thumbnail">
            <img src="<%= item.pic %>">
          </a>

          <dt>Belongs to List:</dt>
          <!-- item does not belong to a list -->
          <% if item.list.present? %>
            <dd><a href="/lists/<%= item.list.id %>"><%= item.list.title.titleize %></a></dd>
          <% else %>
            <dd>Unclassified</dd>
          <% end %>

          <dt>How Much I Want</dt>
          <dd>
            <% for i in 1..item.rating %>
            <i class="fa fa-star text-danger"></i>
            <% end %>
          </dd>

          <dt>Store link</dt>
          <dd>
            <a href = "http://<%=  item.store_link%>"><%=  truncate(item.store_link, length: 40)%></a>
          </dd>

          <dt>Description</dt>
          <dd><%= item.description %></dd>

          <dt>Status</dt>
          <dd><%= item.status %></dd>

        </dl>
        <% if current_user == item.list.user %>
          <div class="btn-group btn-group-justified">
            <a href="/items/<%= item.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>

            <a href="/items/<%= item.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>

            <%= link_to('<i class="fa fa-trash-o"></i>'.html_safe,"/items/#{item.id}", :method=>:delete, class: "btn btn-danger", data: {confirm: "Are you sure you want to delete this item?"}) %>
          </div>
          <% else %>
           <%= link_to('<i class="fa fa-gift fa-2x">&nbsp; Make An Offer</i>'.html_safe,"/offers/new?item_id=#{item.id}", method: "get", class: "btn btn-primary") %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>

<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container').isotope({
      itemSelector: '.isotope-item',
      layoutMode: 'masonry',
      filter: function() {
        return qsRegex ? $(this).text().match( qsRegex ) : true;
      }
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
